<ejs-tab id="element">
  <div class="e-tab-header">
    <div>Entrega</div>
    <div>Entrega</div>
    <div>Pagamento</div>
</div>
<div class="e-content">
    <div>
      <form [formGroup]="FormularioEntrega" (ngSubmit)="emSubmeter()">
        <button type="button" ejs-button>Reset
           <i class="fa-solid fa-xmark"></i>
        </button>
        <h2>Endereço de Cobrança</h2>
        <form formGroupName="EnderecoCobranca">
          <ejs-textbox formControlName="PrimeiroNomeCobranca" placeholder="Primeiro Nome *" style="margin-right: 100px;" width="250px" floatLabelType="Auto"></ejs-textbox>
          <ejs-textbox formControlName="SegundoNomeCobranca" placeholder="Ultimo Nome *" width="250px" floatLabelType="Auto"></ejs-textbox>
          <br>
          <ejs-textbox formControlName="LinhaEndereco1Cobranca" placeholder="Linha de endereço 1 *" width="500px" floatLabelType="Auto"></ejs-textbox>
          <br>
          <ejs-textbox formControlName="LinhaEndereco2Cobranca" placeholder="Linha de endereço 2 *"style="margin-right: 50px;" width="500px" floatLabelType="Auto"></ejs-textbox>
          <br>
          <ejs-textbox formControlName="DistritoCobranca" placeholder="Distrito *" style="margin-right: 50px;" width="250px" floatLabelType="Auto"></ejs-textbox>
          <ejs-textbox formControlName="ProvinciaCobranca" placeholder="Provincia *" style="margin-right: 50px;" width="250px" floatLabelType="Auto"></ejs-textbox>
          <ejs-textbox formControlName="PaisCobranca" placeholder="País *" style="margin-right: 50px;" width="250px" floatLabelType="Auto"></ejs-textbox>
          <ejs-textbox formControlName="CodigoPostalCobranca" placeholder="Código postal *" width="250px" floatLabelType="Auto"></ejs-textbox>
        </form>

        <form formGroupName="EnderecoCheckbox">
          <ejs-checkbox label="O meu endereço de entrega é o mesmo que o endereço de cobrança." value="checked"  formControlName="checkbox"></ejs-checkbox>
        </form>

        <div class="DivEnderecoEntrega" *ngIf="!(this.FormularioEntrega.get('EnderecoCheckbox.checkbox')!.value)">
        <h2>Endereço de Entrega</h2>
        <form formGroupName="EnderecoEntrega">
          <ejs-textbox formControlName="PrimeiroNomeEntrega" placeholder="Primeiro Nome *" style="margin-right: 100px;" width="250px" floatLabelType="Auto"></ejs-textbox>
          <ejs-textbox formControlName="SegundoNomeEntrega" placeholder="Ultimo Nome *" width="250px" floatLabelType="Auto"></ejs-textbox>
          <br>
          <ejs-textbox formControlName="LinhaEndereco1Entrega" placeholder="Linha de endereço 1 *" width="500px" floatLabelType="Auto"></ejs-textbox>
          <br>
          <ejs-textbox formControlName="LinhaEndereco2Entrega" placeholder="Linha de endereço 2 *"style="margin-right: 50px;" width="500px" floatLabelType="Auto"></ejs-textbox>
          <br>
          <ejs-textbox formControlName="DistritoEntrega" placeholder="Distrito *" style="margin-right: 50px;" width="250px" floatLabelType="Auto"></ejs-textbox>
          <ejs-textbox formControlName="ProvinciaEntrega" placeholder="Provincia *" style="margin-right: 50px;" width="250px" floatLabelType="Auto"></ejs-textbox>
          <ejs-textbox formControlName="PaisEntrega" placeholder="País *" style="margin-right: 50px;" width="250px" floatLabelType="Auto"></ejs-textbox>
          <ejs-textbox formControlName="CodigoPostalEntrega" placeholder="Código postal *" width="250px" floatLabelType="Auto"></ejs-textbox>
        </form>
      </div>
        <div class="Next">
        <button type="submit" class="next" ejs-button>Next</button>
      </div>
      </form>

    </div>
    <div>
      Para iniciante está muito bom.
    </div>
    <div>
      Alguma informação.
    </div>
</div>
</ejs-tab>
